# Google Apps Script Web App URL
# Digunakan oleh serverless function (Vercel) dan Express server
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzuiqDZ1iIlLIXX38hzQ9oAZXu5yOkxxUAKLMGxp6Wbid_fPVezRnHN3XxPMeCxnki8LA/exec
